body{
        min-height: 100vh;
   }
.container {
    width: 1192px;
    height: 736px;
    margin: 0 auto;
    padding: 22px 29px 30px 20px;
   background-color: #3A4965;
    box-sizing: border-box;
}
table{
    width: 1143px;
    height: 684px;
    border: 1px solid black;
    border-spacing: 0;
    background-color: #FAFAFA;
    font-family: 'Arimo', "Courier New", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}
th, td {
    border: 0.5px solid rgba(132, 132, 132, 0.2);
    color: #484848;
    height: 72px;
    text-align: center;
    vertical-align: middle;
}
tr:first-child th:first-child,
td:first-child {
    width: 313px;
}

tbody tr:nth-child(odd){
    background-color: #F2F2F2;
   }
tbody tr:nth-child(2n){
    background-color: #E3E3E3;
}
thead th{
    text-transform: uppercase;
    font-weight: bold;
}
.cell1{
    font-size: 18px;
       }
.cell1-strong{
    font-size: 30px;
    }
tr:first-child th:nth-child(2),
tr:first-child th:nth-child(3)
tr:first-child th:nth-child(4){
    height: 70px;
}
tfoot tr{
    height: 110px;
}
tr:first-child th:nth-child(2){
    background-color: #89C331;
    font-size: 24px;
    color: #FFFFFF;
}
tr:first-child th:nth-child(3) {
    background-color: #F04A56;
    font-size: 30px;
    color: #FFFFFF;
}
tr:first-child th:nth-child(4) {
    background-color: #20807C;
    font-size: 24px;
    color: #FFFFFF;
}
tr:nth-child(2) th:nth-child(1),
tr:nth-child(2) th:nth-child(2),
tr:nth-child(2) th:nth-child(3) {
    padding-left: 34px;
    height: 86px;
   }
.price{
    vertical-align: top;
    width: 98px;
    font-size: 60px;
    float: left;
}
.price-cent{
    width: 31px;
    font-size: 24px;
    float: left;
    margin-left: 4px;
    margin-bottom: 4px;
    padding-top: 7px;
}

.price-month{
    width: 120px;
    font-size: 18px;
    font-weight: normal;
    float: left;
    margin-left: 4px;
    text-align: left;
}
i{
  margin-right: 12px;
}
button{
    width: 197px;
    height: 54px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    }
button:hover{
    width: 217px;
    height: 74px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
tfoot td:first-child button{
    background-color: #484848;
    box-shadow: inset 0 -7px 0 0 #404040;
    }
tfoot td:first-child{
    background-color: #E3E3E3;
}

tfoot td:nth-child(2) button{
    background-color: #89C331;
    box-shadow: inset 0 -7px 0 0 #79B027;
}
tfoot td:nth-child(3) button{
    background-color: #F04A56;
    box-shadow: inset 0 -7px 0 0 #DF3A46;
}
tfoot td:nth-child(4) button{
    background-color: #20807C;
    box-shadow: inset 0 -7px 0 0 #16736F;
}
tfoot td:nth-child(2),
tfoot td:nth-child(4){
    background-color: #F2F2F2;
}

